@{
    ViewBag.Title = "Create Complaint";
}

<div class="row">
    <div class="col l12 m12 s12">
        <form action="@Url.Action("CreateComplaint","Complaint")" id="CreateComplaint" method="post">
            @Html.AntiForgeryToken()-
            <div class="card white darken-4">
                <div class="card-content">
                    <div class="row">
                        <div class="col l6 m12 s12">
                            <h5>[Create]Complaint Form</h5>
                        </div>
                        <div class="col l6 m12 s12">
                            <button type="submit" id="btnSave"  class="waves-effect waves-light btn-large green right"><i class="material-icons left">check</i> Save</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12 m12 s12">
                            <ul class="tabs mdl-color-text--green">
                                <li class="tab col l2 complaintInfoCode"><a class="active" href="#complaintInfoCode">Complaint Code/Info</a></li>
                                <li class="tab col l2 complainantInfo"><a class="active" href="#complainantInfo">Name of Complainant</a></li>
                                <li class="tab col l1 patientInfo"><a href="#patientInfo">Patient Info. (if applicable)</a></li>
                                <li class="tab col l2 complaintInfo"><a href="#complaintInfo">Complaint Information</a></li>
                                <li class="tab col l2 otherInformation"><a href="#otherInformation">Other Information</a></li>
                                <li class="tab col l2 actionTaken"><a href="#actionTaken">Action Taken</a></li>
                                <li class="tab col l1 remarks"><a href="#remarks">Remarks</a></li>
                            </ul>
                            <div id="complaintInfoCode">
                                <div class="row">
                                    <div class="col l4 m12 s12" style="margin-top:20px;">
                                        <div class="switch">
                                            <label>
                                                <input type="checkbox" name="anonymous" value="false">
                                                <span class="lever"></span>
                                                <span>Anonymous</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="codeNumber" required />
                                        <label for="codeNumber">Code Number</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="date" name="date_receive" />
                                        <label for="date_receive">Date Receive</label>
                                    </div>
                                </div>
                            </div>
                            <div id="complainantInfo" class="disabled" style="padding-top:20px;">
                                <div class="row">
                                    <div class="input-field col l4 m12 s12 center">
                                        <input type="text" class="validate" name="firstname" data-val="true" data-val-required="You must enter firstname" />
                                        <label for="firstname">Firstname</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="lastname" />
                                        <label for="lastname">Lastname</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="mi" />
                                        <label for="mi">Middle Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col l4 m12 s12">
                                        <select name="civil_status">
                                            @{
                                                string[] civil_status = { "Single", "Married", "Separated", "Divorced", "Widowed" };
                                            }
                                            <option value="" disabled selected>Choose your option</option>
                                            @foreach (String c in civil_status)
                                            {
                                                <option value="@c">@c</option>
                                            }
                                        </select>
                                        <label for="civil_status">Civil Status</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <select name="gender">
                                            @{
                                                var gender = new Dictionary<String, String>();
                                                gender.Add("M", "Male");
                                                gender.Add("F", "Female");
                                                gender.Add("O", "Others");
                                            }
                                            <option value="" disabled selected>Choose your option</option>
                                            @foreach (var s in gender)
                                            {
                                                <option value="@s.Key">@s.Value</option>
                                            }
                                        </select>
                                        <label for="gender">Gender</label>
                                    </div>
                                    <div class="input-field col l4 s12 m12">
                                        <input type="email" name="email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col l4 s12 m12">
                                        <input type="text" name="relationship">
                                        <label for="relationship">Relationship to patient</label>
                                    </div>
                                    <div class="input-field col l4 s12 m12">
                                        <input type="text" name="telNo">
                                        <label for="telNo">Tel No.</label>
                                    </div>
                                    <div class="input-field col l4 s12 m12">
                                        <input type="text" name="mobile">
                                        <label for="mobile">Mobile No.</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col l12 s12 m12">
                                        <input type="text" id="address" name="address" />
                                        <label for="address">Address</label>
                                    </div>
                                </div>

                            </div>
                            <div id="patientInfo" style="padding-top:20px;">
                                <div class="row">
                                    <div class="input-field col l4 m12 s12 center">
                                        <input type="text" class="validate" name="p_firstname" />
                                        <label for="p_firstname">Firstname</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="p_lastname" />
                                        <label for="p_lastname">Lastname</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="p_mi" />
                                        <label for="p_mi">Middle Name</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="date_confined" />
                                        <label for="date_confined">Date patient confined(if applicable)</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12 center">
                                        <input type="number" class="validate" name="age" />
                                        <label for="age">Age</label>
                                    </div>
                                </div>
                            </div>
                            <div id="complaintInfo" style="padding-top:20px;">
                                <div class="row">
                                    <h6>(A.) Health facility being complaint</h6>
                                    <div class="l12 m12 s12">
                                        <select class="browser-default js-example-basic-single" name="hospitalID" id="hospitalID" required>
                                            <option value="" disabled selected></option>
                                            @foreach (hospitals h in Model._hospitals)
                                            {
                                                <option value="@h.ID">@h.name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <h6>(B.) Types of complaint :</h6>
                                    @foreach (type_complaint t in Model._complaint_type)
                                    {
                                        <p>
                                            <label for="@t.ID">
                                                <input type="checkbox" id="@t.ID" class="filled-in" name="complaint_type[]" value="@t.ID" />
                                                <span>@t.Description</span>
                                            </label>
                                        </p>
                                    }
                                    <div class="input-field">
                                        <input type="text" name="other_complaint" />
                                        <label for="other_complaint">Others.</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <h6>(C.) Types of assistance needed</h6>
                                    @foreach (complaint_assistance at in Model._complaintAssistance)
                                    {
                                        <p>
                                            <label for="@(at.ID)101">
                                                <input type="checkbox" id="@(at.ID)101" class="filled-in" name="complaint_assistance[]" value="@at.ID" />
                                                <span>@at.assistance</span>
                                            </label>
                                        </p>
                                    }
                                    <div class="input-field">
                                        <input type="text" name="other_assistance" />
                                        <label for="other_complaint">Others </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field">
                                        <input type="text" name="reasonOfConfinement" />
                                        <label for="reasonOfConfinement">Reason of confinment</label>
                                    </div>
                                </div>
                            </div>
                            <div id="otherInformation" style="padding-top:20px;">
                                <div class="row">
                                    <div class="col l6 m12 s12">
                                        <h6>Form of Communication</h6>
                                        <div class="row">
                                            <div class="col l2 m12 s12">
                                                <div class="switch center" style="margin-top:25px;">
                                                    <label>
                                                        <input type="checkbox" name="pccCheck" value="false">
                                                        <span class="lever"></span>
                                                        <span>PCC</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="input-field col l3 m12 s12">
                                                <input type="text" disabled name="pccNumber" />
                                                <label for="pccNumber">PCC Number</label>
                                            </div>
                                            <div class="col l5 s12 m12">
                                                <select name="communication_form" id="communication_form" class="browser-default" style="margin-top:10px;" >
                                                    @foreach (communication c in Model._communications)
                                                    {
                                                        <option value="@c.ID">@c.desc</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l6 s12 m12">
                                        <h6>Ownership</h6>
                                        <select name="ownership" class="browser-default" style="margin-top:15px;" >
                                            @{
                                                var ownnership = new Dictionary<String, String>();
                                                ownnership.Add("P", "Private");
                                                ownnership.Add("G", "Government");
                                            }
                                            @foreach (var o in ownnership)
                                            {
                                                <option value="@o.Key">@o.Value</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <ul class="collapsible">
                                        <li>
                                            <div class="collapsible-header" data-member="date_informed_the_hf" ><i class="material-icons">date_range</i>Date Informed the HF/concerned office </div>
                                            <div class="collapsible-body">
                                                <input type="hidden" class="datepicker" name="input_date_informed_the_hf" />
                                                <strong><a class="waves-effect btn-small waves-light green" href="#" id="date_informed_the_hf"><i class="material-icons right">add</i>Add Dates</a></strong>
                                                <table class="striped date_informed_the_hf"></table>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header" data-member="date_hf_submitted_reply"><i class="material-icons">date_range</i>Date HF/concerned office submitted reply</div>
                                            <div class="collapsible-body">
                                                <input type="hidden" class="datepicker" name="input_date_hf_submitted_reply" />
                                                <strong><a href="#" class="waves-effect btn-small waves-light green" id="date_hf_submitted_reply"><i class="material-icons right">add</i>Add Dates</a></strong>
                                                <table class="striped date_hf_submitted_reply"></table>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header" data-member="date_release_to_records"><i class="material-icons">date_range</i>Date released to records section</div>
                                            <div class="collapsible-body">
                                                <input type="hidden" class="datepicker" name="input_date_release_to_records" />
                                                <strong><a class="waves-effect btn-small waves-light green" href="#" id="date_release_to_records"><i class="material-icons right">add</i>Add Dates</a></strong>
                                                <table class="striped date_release_to_records"></table>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header" data-member="date_final_resolution"><i class="material-icons">date_range</i>Date Resolution of the complaint released to records/client</div>
                                            <div class="collapsible-body">
                                                <input type="hidden" class="datepicker" name="input_date_final_resolution" />
                                                <strong><a href="#" class="waves-effect btn-small waves-light green" id="date_final_resolution"><i class="material-icons right">add</i>Add Dates</a></strong>
                                                <table class="striped date_final_resolution"></table>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="actionTaken">
                                <div class="row">
                                    <div class="col l12 m12 s12">
                                        <button type="button"  class="waves-effect btn-small waves-light green right addAction" style="margin-top:20px;"><i class="material-icons right">add</i>Action Taken</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col l12 m12 s12">
                                        <div class="switch" style="margin-top:20px;">
                                            <h5>Status</h5>
                                            <label>
                                                <span>On Going</span>
                                                <input type="checkbox" name="status" value="1">
                                                <span class="lever"></span>
                                                <span>Resolved</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <table class="striped actionTakenList">
                                        <tr>
                                            <th>Date</th>
                                            <th>Action Takened</th>
                                            <th>Remove</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div id="remarks">
                                <div class="row">
                                    <div class="col l12 m12 s12">
                                        <button type="button" class="waves-effect btn-small waves-light green right addRemarks" style="margin-top:20px;"><i class="material-icons right">add</i>Add remark</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <table class="striped remarksList">
                                        <tr>
                                            <th>Remarks</th>
                                            <th>Remove</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

