
@{
    ViewBag.Title = "Create Complaint";
}

<div class="row">
    <div class="col l12 m12 s12">
        <form action="@Url.Action("CreateComplaint","Complaint")" method="post">
            @Html.AntiForgeryToken()
            <div class="card white darken-4">
                <div class="card-content">
                    <div class="row">
                        <div class="col l4 m12 s12">
                            <h5>Complaint Form</h5>
                        </div>
                        <div class="col l4  m12 s12">
                            <div class="switch center">
                                <label>
                                    <input type="checkbox" name="anonymous" value="false">
                                    <span class="lever"></span>
                                    <span>Anonymous</span>
                                </label>
                            </div>
                            <div class="input-field col 12 m12 s12">
                                <input type="text" name="codeNumber" style="text-align:center;" required />
                                <label for="codeNumber">Code Number</label>
                            </div>
                        </div>
                        <div class="col l4 m12 s12">
                            <button type="submit" name="submit" class="waves-effect waves-light btn-large green right"><i class="material-icons left">check</i> Save</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12 m12 s12">
                            <ul class="tabs mdl-color-text--green">
                                <li class="tab col s3 complainantInfo"><a class="active" href="#complainantInfo">Name of Complainant</a></li>
                                <li class="tab col s3 patientInfo"><a href="#patientInfo">Patient Info. (if applicable)</a></li>
                                <li class="tab col s3 complaintInfo"><a href="#complaintInfo">Complaint Information</a></li>
                                <li class="tab col s3 otherInformation"><a href="#otherInformation">Other Information</a></li>
                            </ul>
                            <div id="complainantInfo" class="disabled" style="padding-top:20px;">
                                <div class="row">
                                    <div class="input-field col l4 m12 s12 center">
                                        <input type="text" class="validate" name="firstname" data-val="true" data-val-required="You must enter firstname" />
                                        <label for="firstname">Firstname</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="lastname" />
                                        <label for="lastname">Lastname</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="mi" />
                                        <label for="mi">Middle Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col l4 m12 s12">
                                        <select name="civil_status">
                                            @{
                                                string[] civil_status = { "Single", "Married", "Separated", "Divorced", "Widowed" };
                                            }
                                            <option value="" disabled selected>Choose your option</option>
                                            @foreach (String c in civil_status)
                                            {
                                                <option value="@c">@c</option>
                                            }
                                        </select>
                                        <label for="civil_status">Civil Status</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <select name="gender">
                                            @{
                                                var gender = new Dictionary<String, String>();
                                                gender.Add("M", "Male");
                                                gender.Add("F", "Female");
                                                gender.Add("O", "Others");
                                            }
                                            <option value="" disabled selected>Choose your option</option>
                                            @foreach (var s in gender)
                                            {
                                                <option value="@s.Key">@s.Value</option>
                                            }
                                        </select>
                                        <label for="gender">Gender</label>
                                    </div>
                                    <div class="input-field col l4 s12 m12">
                                        <input type="text" name="date" class="datepicker">
                                        <label for="date">Date</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col l4 s12 m12">
                                        <input type="text" name="relationship">
                                        <label for="relationship">Relationship to patient</label>
                                    </div>
                                    <div class="input-field col l4 s12 m12">
                                        <input type="text" name="telNo">
                                        <label for="telNo">Tel No.</label>
                                    </div>
                                    <div class="input-field col l4 s12 m12">
                                        <input type="text" name="mobile">
                                        <label for="mobile">Tel No.</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col l12 s12 m12">
                                        <textarea id="address" class="materialize-textarea" name="address"></textarea>
                                        <label for="address">Address</label>
                                    </div>
                                </div>

                            </div>
                            <div id="patientInfo" style="padding-top:20px;">
                                <div class="row">
                                    <div class="input-field col l4 m12 s12 center">
                                        <input type="text" class="validate" name="p_firstname" />
                                        <label for="p_firstname">Firstname</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="p_lastname" />
                                        <label for="p_lastname">Lastname</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="p_mi" />
                                        <label for="p_mi">Middle Name</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="date_confined" class="datepicker" />
                                        <label for="date_confined">Date patient confined(if applicable)</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12 center">
                                        <input type="number" class="validate" name="age" />
                                        <label for="age">Age</label>
                                    </div>
                                </div>
                            </div>
                            <div id="complaintInfo" style="padding-top:20px;">
                                <div class="row">
                                    <div class="input-field l12 m12 s12">
                                        <select name="hospitalID" required>
                                            <option value="" disabled selected>Choose your option</option>
                                            @foreach (hospitals h in Model._hospitals)
                                            {
                                                <option value="@h.ID">@h.name</option>
                                            }
                                        </select>
                                        <label for="hospitalID">Name of Health Facility being Complained</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col l12 m12 s12">
                                        <h6>Type of complaint :</h6>
                                        @foreach (type_complaint t in Model._complaint_type)
                                        {
                                            <p>
                                                <label for="@t.ID">
                                                    <input type="checkbox" id="@t.ID" class="filled-in" name="complaint_type[]" value="@t.ID" />
                                                    <span>@t.Description</span>
                                                </label>
                                            </p>
                                        }
                                        <div class="input-field">
                                            <input type="text" name="other_complaint" />
                                            <label for="other_complaint">Others.</label>
                                        </div>
                                    </div>
                                    <div class="input-field col l12 s12 m12">
                                        <textarea id="assistance_needed" class="materialize-textarea" name="assistance_needed"></textarea>
                                        <label for="assistance_needed">Assistance Needed</label>
                                    </div>
                                    <div class="input-field col l12 s12 m12">
                                        <input type="text" name="reasonOfConfinement" />
                                        <label for="reasonOfConfinement">Reason of confinment</label>
                                    </div>
                                </div>
                            </div>
                            <div id="otherInformation" style="padding-top:20px;">
                                <div class="row">
                                    <div class="col l6 m12 s12">
                                        <h6>Form of Communication</h6>
                                        <div class="row">
                                            <div class="col l2 m12 s12">
                                                <div class="switch center" style="margin-top:25px;">
                                                    <label>
                                                        <input type="checkbox" name="pccCheck" value="false">
                                                        <span class="lever"></span>
                                                        <span>PCC</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="input-field col l3 m12 s12">
                                                <input type="text" disabled name="pccNumber" />
                                                <label for="pccNumber">PCC Number</label>
                                            </div>
                                            <div class="col l5 s12 m12">
                                                <select name="communication_form" id="communication_form" class="browser-default" style="margin-top:10px;" >
                                                    <option value="" disabled selected>Form of Communication received</option>
                                                    @foreach (communication c in Model._communications)
                                                    {
                                                        <option value="@c.ID">@c.desc</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-field col l6 s12 m12">
                                        <select name="ownership">
                                            @{
                                                var ownnership = new Dictionary<String, String>();
                                                ownnership.Add("P", "Private");
                                                ownnership.Add("G", "Government");
                                            }
                                            <option value="" disabled selected>Choose your option</option>
                                            @foreach (var o in ownnership)
                                            {
                                                <option value="@o.Key">@o.Value</option>
                                            }
                                        </select>
                                        <label for="ownership">Hospital/Facility Ownership</label>
                                    </div>
                                    <div class="input-field col l6 m12 s12">
                                        <input type="text" name="date_informed_the_hf" class="datepicker" />
                                        <label for="date_informed_the_hf">Date Informed the HF/concerned office</label>
                                    </div>
                                    <div class="input-field col l6 m12 s12">
                                        <input type="text" name="date_hf_submitted_reply" class="datepicker" />
                                        <label for="date_hf_submitted_reply">Date HF/concerned office submitted reply</label>
                                    </div>
                                    <div class="input-field col l6 m12 s12">
                                        <input type="text" name="date_release_to_records" class="datepicker" />
                                        <label for="date_release_to_records">Date released to records section</label>
                                    </div>
                                    <div class="input-field col l6 m12 s12">
                                        <input type="text" name="date_final_resolution" class="datepicker" />
                                        <label for="date_final_resolution">Date Resolution of the complaint released to records/client</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        $("input[name='pccCheck']").change(function () {
            var stat = $(this).prop('checked');
            if(stat){
                $("input[name='pccNumber']").prop('disabled', false);
                $(this).val(true);
                $("select[name='communication_form']").prop('disabled', true);
            } else {
                $(this).val(false);
                $("input[name='pccNumber']").prop('disabled', true);
                $("select[name='communication_form']").prop('disabled', false);
            }
        });
        
        $("input[name='anonymous']").change(function () {
            var stat = $(this).prop('checked');
            if (stat) {
                $('.complainantInfo').addClass('disabled');
                $(this).val(true);
            } else {
                $(this).val(false);
                $('.complainantInfo').removeClass('disabled');
            }
        });
    </script>
}
