@model EditComplaintViewModel
@{
    ViewBag.Title = "Edit Complaint";
    
}
    

<div class="row">
    <div class="col l12 m12 s12">
        <form action="#" data-action="@Url.Action("EditComplaint","Complaint")" id="CreateComplaint" data-method="post">
            @Html.AntiForgeryToken()
            <div class="card white darken-4">
                <div class="card-content">
                    <div class="row">
                        <div class="col l6 m12 s12">
                            <h5>[Update]Complaint Form</h5>
                        </div>
                        <div class="col l6 m12 s12">
                            <button type="button" id="btnSave" class="waves-effect waves-light btn-large green right"><i class="material-icons left">check</i> Save Changes</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12 m12 s12">
                            <ul class="tabs mdl-color-text--green">
                                <li class="tab col l2 complaintInfoCode"><a class="active" href="#complaintInfoCode">Complaint Code/Info</a></li>
                                <li class="tab col l2 complainantInfo"><a class="active" href="#complainantInfo">Name of Complainant</a></li>
                                <li class="tab col l2 patientInfo"><a href="#patientInfo">Patient Info. (if applicable)</a></li>
                                <li class="tab col l2 complaintInfo"><a href="#complaintInfo">Complaint Information</a></li>
                                <li class="tab col l2 otherInformation"><a href="#otherInformation">Other Information</a></li>
                                <li class="tab col l2 actionTaken"><a href="#actionTaken">Action Taken</a></li>
                            </ul>
                            <div id="complaintInfoCode">
                                <div class="col l4  m12 s12">
                                    <div class="row switch" style="margin-top:20px;">
                                        <label>
                                            <input type="checkbox" name="anonymous" value="@(Model._complaint.annonymos == true ? "1" : "0")" @(Model._complaint.annonymos == true ? " checked" : "")>
                                            <span class="lever"></span>
                                            <span>Anonymous</span>
                                        </label>
                                    </div>
                                    <div class="row input-field col 12 m12 s12">
                                        <input type="text" name="codeNumber" value="@Model._complaint.codeNumber" required />
                                        <label for="codeNumber">Code Number</label>
                                    </div>
                                </div>
                            </div>
                            <div id="complainantInfo" class="disabled" style="padding-top:20px;">
                                <div class="row">
                                    <div class="input-field col l4 m12 s12 center">
                                        <input type="text" class="validate" name="firstname" value="@Model._nameOfComplainant.firstname" data-val="true" />
                                        <label for="firstname">Firstname</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="lastname" value="@Model._nameOfComplainant.lastname" />
                                        <label for="lastname">Lastname</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="mi" value="@Model._nameOfComplainant.mi" />
                                        <label for="mi">Middle Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col l4 m12 s12">
                                        <select name="civil_status">
                                            @{
                                                string[] civil_status = { "Single", "Married", "Separated", "Divorced", "Widowed" };
                                            }
                                            <option value="" disabled selected>Choose your option</option>
                                            @foreach (String c in civil_status)
                                            {
                                                <option value="@c" @(Model._nameOfComplainant.civil_status == c ? " selected" : "")>@c</option>
                                            }
                                        </select>
                                        <label for="civil_status">Civil Status</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <select name="gender">
                                            @{
                                                var gender = new Dictionary<String, String>();
                                                gender.Add("M", "Male");
                                                gender.Add("F", "Female");
                                                gender.Add("O", "Others");
                                            }
                                            <option value="" disabled selected>Choose your option</option>
                                            @foreach (var s in gender)
                                            {
                                                <option value="@s.Key" @(Model._nameOfComplainant.gender == s.Key ? " selected" : "")>@s.Value</option>
                                            }
                                        </select>
                                        <label for="gender">Gender</label>
                                    </div>
                                    <div class="input-field col l4 s12 m12">
                                        <input type="text" name="date" value="@(Model._nameOfComplainant.Date != null ? Model._nameOfComplainant.Date.Value.ToShortDateString() : "" )" class="datepicker">
                                        <label for="date">Date</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col l4 s12 m12">
                                        <input type="text" name="relationship" value="@Model._nameOfComplainant.relationship">
                                        <label for="relationship">Relationship to patient</label>
                                    </div>
                                    <div class="input-field col l4 s12 m12">
                                        <input type="text" name="telNo" value="@Model._nameOfComplainant.telNo">
                                        <label for="telNo">Tel No.</label>
                                    </div>
                                    <div class="input-field col l4 s12 m12">
                                        <input type="text" name="mobile" value="@Model._nameOfComplainant.mobile">
                                        <label for="mobile">Mobile No.</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col l12 s12 m12">
                                        <textarea id="address" class="materialize-textarea" name="address">@Model._nameOfComplainant.address</textarea>
                                        <label for="address">Address</label>
                                    </div>
                                </div>

                            </div>
                            <div id="patientInfo" style="padding-top:20px;">
                                <div class="row">
                                    <div class="input-field col l4 m12 s12 center">
                                        <input type="text" class="validate" name="p_firstname" value="@Model._patient.p_firstname" />
                                        <label for="p_firstname">Firstname</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="p_lastname" value="@Model._patient.p_lastname" />
                                        <label for="p_lastname">Lastname</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="p_mi" value="@Model._patient.p_mi" />
                                        <label for="p_mi">Middle Name</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12">
                                        <input type="text" name="date_confined" value="@Model._patient.date_confined" class="datepicker" />
                                        <label for="date_confined">Date patient confined(if applicable)</label>
                                    </div>
                                    <div class="input-field col l4 m12 s12 center">
                                        <input type="number" class="validate" name="age" value="@Model._patient.age" />
                                        <label for="age">Age</label>
                                    </div>
                                </div>
                            </div>
                            <div id="complaintInfo" style="padding-top:20px;">
                                <div class="row">
                                    <h6>(A.) Health facility being complaint</h6>
                                    <div class="l12 m12 s12">
                                        <select class="browser-default js-example-basic-single" name="hospitalID" id="hospitalID" required>
                                            <option value="" disabled selected></option>
                                            @foreach (hospitals h in Model._createComplaintViewModel._hospitals)
                                            {
                                                <option value="@h.ID" @(Model._complaint.hospitalID == h.ID ? " selected" : "")>@h.name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <h6>(B.) Type of complaint :</h6>
                                    @foreach (type_complaint t in Model._createComplaintViewModel._complaint_type)
                                    {
                                        bool isCheck = false;
                                        isCheck = Model._complaint_type_list.Contains(t.ID);
                                        <p>
                                            <label for="@t.ID">
                                                <input type="checkbox" id="@t.ID" class="filled-in" name="complaint_type[]" @(isCheck == true ? " checked" : "") value="@t.ID" />
                                                <span>@t.Description</span>
                                            </label>
                                        </p>
                                    }
                                    <div class="input-field">
                                        <input type="text" name="other_complaint" value="@Model._complaint.other_complaint" />
                                        <label for="other_complaint">Others.</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <h6>(C.) Assistance Needed</h6>
                                    @foreach (complaint_assistance at in Model._createComplaintViewModel._complaintAssistance)
                                    {
                                        bool isCheck = false;
                                        isCheck = Model._complaintAssistance.Contains(at.ID);
                                        <p>
                                            <label for="@(at.ID)101">
                                                <input type="checkbox" id="@(at.ID)101" class="filled-in" name="complaint_assistance[]" @(isCheck == true ? " checked" : "") value="@at.ID" />
                                                <span>@at.assistance</span>
                                            </label>
                                        </p>
                                    }
                                    <div class="input-field">
                                        <input type="text" name="other_assistance" value="@Model._complaint.assistance_needed" />
                                        <label for="other_complaint">Others </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field">
                                        <input type="text" name="reasonOfConfinement" value="@Model._complaint.reasonOfConfinement" />
                                        <label for="reasonOfConfinement">Reason of confinment</label>
                                    </div>
                                </div>
                            </div>
                            <div id="otherInformation" style="padding-top:20px;">
                                <div class="row">
                                    <div class="col l6 m12 s12">
                                        <h6>Form of Communication</h6>
                                        <div class="row">
                                            <div class="col l2 m12 s12">
                                                <div class="switch center" style="margin-top:25px;">
                                                    <label>
                                                        <input type="checkbox" name="pccCheck" value="@(Model._complaint.pccCheck == true ? "1" : "0")" @(Model._complaint.pccCheck == true ? "checked" : "")>
                                                        <span class="lever"></span>
                                                        <span>PCC</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="input-field col l3 m12 s12">
                                                <input type="text" name="pccNumber" @(Model._complaint.pccCheck == false ? "disabled" : "") value="@(Model._complaint.pccCheck == true ? Model._complaint.pccNumber : "")" />
                                                <label for="pccNumber">PCC Number</label>
                                            </div>
                                            <div class="col l5 s12 m12">
                                                <select name="communication_form" id="communication_form" class="browser-default" style="margin-top:10px;" @(Model._complaint.pccCheck == true ? "disabled" : "")>
                                                    <option value="" disabled selected>Form of Communication received</option>
                                                    @foreach (communication c in Model._createComplaintViewModel._communications)
                                                    {
                                                        <option value="@c.ID" @(Model._complaint.communication_form == c.ID ? " selected" : "")>@c.desc</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l6 s12 m12">
                                        <h6>Ownership</h6>
                                        <select name="ownership" class="browser-default" style="margin-top:15px;">
                                            @{
                                                var ownnership = new Dictionary<String, String>();
                                                ownnership.Add("P", "Private");
                                                ownnership.Add("G", "Government");
                                            }
                                            <option value="" disabled selected>Hospital/Facility Ownership</option>
                                            @foreach (var o in ownnership)
                                            {
                                                <option value="@o.Key" @(Model._complaint.ownership == "P" ? " selected" : "")>@o.Value</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <ul class="collapsible">
                                        <li>
                                            <div class="collapsible-header" data-member="date_informed_the_hf"><i class="material-icons">date_range</i>Date Informed the HF/concerned office </div>
                                            <div class="collapsible-body">
                                                <input type="hidden" class="datepicker" name="input_date_informed_the_hf" />
                                                <strong><a class="waves-effect btn-small waves-light green" href="#" id="date_informed_the_hf"><i class="material-icons right">add</i>Add Dates</a></strong>
                                                <table class="striped date_informed_the_hf">
                                                    @foreach (String s in Model.date_informed_the_hf)
                                                    {
                                                        <tr>
                                                            <td><input type='text' disabled name="date_informed_the_hf[]" value="@s" /></td>
                                                            <td><a href='#' onclick='romoveMember(this);'><i class='material-icons'>remove</i></a></td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header" data-member="date_hf_submitted_reply"><i class="material-icons">date_range</i>Date HF/concerned office submitted reply</div>
                                            <div class="collapsible-body">
                                                <input type="hidden" class="datepicker" name="input_date_hf_submitted_reply" />
                                                <strong><a href="#" class="waves-effect btn-small waves-light green" id="date_hf_submitted_reply"><i class="material-icons right">add</i>Add Dates</a></strong>
                                                <table class="striped date_hf_submitted_reply">
                                                    @foreach (String s in Model.date_hf_submitted_reply)
                                                    {
                                                        <tr>
                                                            <td><input type='text' disabled name="date_hf_submitted_reply[]" value="@s" /></td>
                                                            <td><a href='#' onclick='romoveMember(this);'><i class='material-icons'>remove</i></a></td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header" data-member="date_release_to_records"><i class="material-icons">date_range</i>Date released to records section</div>
                                            <div class="collapsible-body">
                                                <input type="hidden" class="datepicker" name="input_date_release_to_records" />
                                                <strong><a class="waves-effect btn-small waves-light green" href="#" id="date_release_to_records"><i class="material-icons right">add</i>Add Dates</a></strong>
                                                <table class="striped date_release_to_records">
                                                    @foreach (String s in Model.date_release_to_records)
                                                    {
                                                        <tr>
                                                            <td><input type='text' disabled name="date_release_to_records[]" value="@s" /></td>
                                                            <td><a href='#' onclick='romoveMember(this);'><i class='material-icons'>remove</i></a></td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header" data-member="date_final_resolution"><i class="material-icons">date_range</i>Date Resolution of the complaint released to records/client</div>
                                            <div class="collapsible-body">
                                                <input type="hidden" class="datepicker" name="input_date_final_resolution" />
                                                <strong><a href="#" class="waves-effect btn-small waves-light green" id="date_final_resolution"><i class="material-icons right">add</i>Add Dates</a></strong>
                                                <table class="striped date_final_resolution">
                                                    @foreach (String s in Model.date_final_resolution)
                                                    {
                                                        <tr>
                                                            <td><input type='text' disabled name="date_final_resolution[]" value="@s" /></td>
                                                            <td><a href='#' onclick='romoveMember(this);'><i class='material-icons'>remove</i></a></td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="actionTaken">
                                <div class="row">
                                    <div class="col l12 m12 s12">
                                        <button type="button" class="waves-effect btn-small waves-light green left addAction"><i class="material-icons right">add</i>Action Taken</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <table class="striped actionTakenList">
                                        <tr>
                                            <th>Date</th>
                                            <th>Action Takened</th>
                                            <th>Remove</th>
                                        </tr>
                                        @foreach(complaint_action_dates cd in Model._complaintActionDates)
                                        {
                                            <tr>
                                                <td><input type='text' disabled name='actionDate[]' value="@cd.Date.ToShortDateString()" /></td>
                                                <td><input type='text' disabled name='actionTaken[]' value="@cd.Action" /></td>
                                                <td><a href='#' onclick='romoveMember(this);'><i class='material-icons'>remove</i></a></td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



