
@{
    ViewBag.Title = "User Accounts";
    
}

<div class="row">
    <div class="col l12 m12 s12">
        <h4>User Accounts</h4>
        <div class="card white darken-1">
            <div class="card-content">
                <table class="table table-bordered">
                    <tr style="background-color:#D5DBDB;">
                        <th class="col-md-1">User Logins</th>
                        <th class="col-md-1">Option</th>
                        <th class="col-md-1"></th>
                    </tr>
                    @foreach (var a in Model)
                    {
                        <tr>
                            <td><span style="color:#071D47;font-weight:bold;">@a.UserName</span></td>
                            <td>
                                <button class="btn btn-warning" data-url="@Url.Action("Update","UserAccount",new { userId = a.Id })" onclick="Update(this);">Update</button>
                                <a class="btn btn-danger" href="@Url.Action("DeleteUser","SysAccount",new { userId = a.Id })" onclick="return confirm('Are you sure you want to delete this user?');">Delete</a>
                            </td>
                            <td>
                                <a class="btn btn-info" data-url="@Url.Action("ResetPassword","UserAccount",new { userid = a.Id })" onclick="Reset(this);">Reset Password</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red add" id="add_user" data-url="@Url.Action("CreateUser","SysAccount")">
        <i class="large material-icons">add_circle</i>
    </a>
</div>

@section scripts {
    <script>
        $("#add_user").click(function () {
            var url = $(this).data('url');
            $("#add_type_complaint > .modal-content").html('');
            $.get(url, function (res) {
                $("#add_type_complaint").modal('open');
                $("#add_type_complaint > .modal-content").html(res);
            });
        });
    </script>
}

