@using HFSRBO.Core;
@{
    ViewBag.Title = "ComplaintsType";
}


<div class="row">
    <div class="col l12 m12 s12">
        <h5>Complaint Types</h5>
        <div class="card white darken-1">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col l6 m12 s12"><a href="#tab1" class="complaint-type active" data-url="@Url.Action("AddComplaintType","MasterData")">Type of Complaints</a></li>
                            <li class="tab col l6 m12 s12"><a href="#tab2" class="complaint-assistance" data-url="@Url.Action("AddComplaintAssistance", "MasterData")">Complaint Assistance</a></li>
                        </ul>
                    </div>
                    <div id="tab1" class="col s12">
                        <table id="complaintType" class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>*</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (type_complaint tp in Model.complaintTypes)
                                {
                                    <tr>
                                        <td>@tp.Description</td>
                                        <td>
                                            <a href="@Url.Action("DeleteComplaintType","MasterData",new { ID = tp.ID })" onclick="return confirm('Do you want to delete this item?');"><i class="material-icons">delete</i></a>
                                            <a href="#" onclick="edit(this);" data-url="@Url.Action("EditComplaintType","MasterData",new { ID = tp.ID })"><i class="material-icons">edit</i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="tab2" class="col s12">
                        <table id="complaintAssistance" class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>*</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (complaint_assistance ca in Model.complaintAssistance)
                                {
                                    <tr>
                                        <td>@ca.assistance</td>
                                        <td>
                                            <a href="@Url.Action("DeleteAssistance","MasterData",new { ID = ca.ID })" onclick="return confirm('Do you want to delete this item?');"><i class="material-icons">delete</i></a>
                                            <a href="#" onclick="editAssistance(this);" data-id="@ca.ID" data-assistance="@ca.assistance" data-url="@Url.Action("EditAssistance","MasterData")"><i class="material-icons">edit</i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red add"  onclick="add(this);" >
        <i class="large material-icons">add_circle</i>
    </a>
</div>
@section scripts{
    <script>
        function edit(elem) {
            var url = $(elem).data('url');
            $.get(url, function (res) {
                $("#add_type_complaint > .modal-content").html(res);
                $("#add_type_complaint").modal('open');
            });
        }
        function add(elem)
        {
            var url;
            if ($('.complaint-type').hasClass('active')) {
                url = $('.complaint-type').data('url');
            } else if ($('.complaint-assistance').hasClass('active')) {
                url = $('.complaint-assistance').data('url');
            }
            
            $.get(url, function (res) {
                $("#add_type_complaint > .modal-content").html(res);
                $("#add_type_complaint").modal('open');
            });
        }

    </script>    
}