
<div class="container">
    <div class="row">
        <div class="col l12 m12 s12">
            <h5>Health Facilities</h5>
            <div class="card white darken-1">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s3"><a href="#test1" class="fal_list">Facility List</a></li>
                                <li class="tab col s3"><a href="#test2" class="facility_type">Types of Facility</a></li>
                            </ul>
                        </div>
                        <div id="test1" class="col s12">
                            <table id="type_complaint" class="responsive-table">
                                <tr>
                                    <th>Health Facility</th>
                                    <th>Address</th>
                                    <th>Facility Type</th>
                                    <th>*</th>
                                </tr>
                                @foreach (hospitals hospital in Model._hospitals)
                                {
                                    <tr>
                                        <td>@hospital.name</td>
                                        <td>@hospital.address</td>
                                        @{
                                           // var hos_ft = .Where(p => p.ID == hospital.facilityID).FirstOrDefault(); ;
                                        }
                                        <td></td>
                                        <td>
                                            <a href="@Url.Action("DeleteHospital","MasterData",new { ID = hospital.ID })" class="btn red"><i class="material-icons">delete</i></a>
                                            <a class="btn red"><i class="material-icons">edit</i></a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div id="test2" class="col s12">
                            <table id="type_complaint" class="responsive-table">
                                <tr>
                                    <th>Facility Description</th>
                                    <th>*</th>
                                    @foreach (facility_type ft in Model._facilityType)
                                    {
                                    <tr>
                                        <td>@ft.Name</td>
                                        <td>
                                            <a href="@Url.Action("DeleteHospital","MasterData",new { ID = ft.ID })" class="btn red"><i class="material-icons">delete</i></a>
                                            <a class="btn red"><i class="material-icons">edit</i></a>
                                        </td>
                                    </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red add" id="health_add">
            <i class="large material-icons">add_circle</i>
        </a>
    </div>


    @section scripts {
        <script>
        $("#health_add").click(function () {
            if ($('.fal_list').hasClass('active')) {
                $("#add_hospital").modal('open');
            } else if ($('.facility_type').hasClass('active')) {
                $("#add_fal_type").modal('open');
            }
        });
        </script>
    }
