@model HealthFacilityTypeFacilityVM
@{ 
    ViewBag.Title = "Health Facilities";
}
<div class="row">
    <div class="col l12 m12 s12">
        <h5>Health Facilities</h5>
        <div class="card white darken-1">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col l6 m12 s12"><a href="#tab1" class="fal_list" data-url="@Url.Action("AddHealthFacitlity","MasterData")">Facility List</a></li>
                            <li class="tab col l6 m12 s12"><a href="#tab2" class="facility_type" data-url="@Url.Action("AddFacilityType","MasterData")">Types of Facility</a></li>
                        </ul>
                    </div>
                    <div id="tab1" class="col s12">
                        <table id="healthFacility" class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Health Facility</th>
                                    <th>Address</th>
                                    <th>Facility Type</th>
                                    <th>*</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (hospitals hospital in Model.healthFacility)
                                {
                                    <tr>
                                        <td>@hospital.name</td>
                                        <td>@hospital.address</td>
                                        <td>@hospital.facilityType</td>
                                        <td>
                                            <a href="@Url.Action("DeleteHospital","MasterData",new { ID = hospital.ID })" onclick="return confirm('Do you want to delete this item?');"><i class="material-icons">delete</i></a>
                                            <a href="#" onclick="updateHealthFacility(this);" data-url="@Url.Action("EditHealthFacility","MasterData", new { ID = hospital.ID })"><i class="material-icons">edit</i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="tab2" class="col s12">
                        <table id="facilityType" class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Facility Description</th>
                                    <th>*</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (facility_type ft in Model.facilityType)
                                {
                                    <tr>
                                        <td>@ft.Name</td>
                                        <td>
                                            <a href="@Url.Action("DeleteFacility","MasterData",new { ID = ft.ID })" onclick="return confirm('Do you want to delete this item?');"><i class="material-icons">delete</i></a>
                                            <a href="#" onclick="updateFacilityType(this);" data-id="@ft.ID" data-ft="@ft.Name" data-url="@Url.Action("EditFacilityType","MasterData")"><i class="material-icons">edit</i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red add" id="health_add">
        <i class="large material-icons">add_circle</i>
    </a>
</div>
