
@{
    ViewBag.Title = "Home";
    var db = new bhfsContext();
}

<div class="row">
    <div class="col l12 m12 s12">
        <h5>List of hospitals / facility complaints</h5>
        <div class="card white darken-1">
            <div class="card-content">
                <table id="complaint" class="responsive-table highlight" style="border:dotted;">
                    <tr>
                        <th>Date Created</th>
                        <th>Date Received</th>
                        <th>Code Number (track code &/or complaint form control)</th>
                        <th>Type of Complaint</th>
                        <th>Form of Communication received</th>
                        <th>Name of Complainant</th>
                        <th>Nature of Complaint (apply to code)</th>
                        <th>Name of Health Facility Being Complained</th>
                        <th>Address</th>
                        <th>Ownership</th>
                        <th>Staff Assigned</th>
                        <th>Action Taken</th>
                        <th>Date Informed the HF/concerned office</th>
                        <th>Date HF/concerned office submitted reply</th>
                        <th>Date released to records section</th>
                        <th>Date Resolution of the complaint released to records/client</th>
                        <th>Status</th>
                        <th>Options</th>
                    </tr>
                    @foreach(complaints complaint in Model)
                    {
                        <tr>
                            <td>@complaint.date_created.ToShortDateString()</td>
                            <td>@complaint.date.Value.ToShortDateString()</td>
                            <td>@complaint.Code</td>
                            <td>
                                
                                    @{
                                        var complaints_types = db.complaint_types_list.Where(p => p.ComplaintID == complaint.ID).ToList();
                                    }
                                    <ul>
                                        @foreach (var ct in complaints_types)
                                        {
                                            var type = db.type_complaint.Where(p => p.ID == ct.ComplaintTypeId).FirstOrDefault();
                                            <li>@("-"+type.Description)</li>
                                        }
                                    </ul>
                                    <b>Others</b> : @complaint.other_complaint
                            </td>
                            <td>
                               @{ String communication_form = ""; }
                                @switch (complaint.communication_form)
                                {
                                    case "1":
                                        communication_form = "By Photo";break;
                                    case "2":
                                        communication_form = "By mail";break;
                                    case "3":
                                        communication_form = "Interview walk-in";break;
                                }
                                @communication_form
                            </td>
                            <td>@complaint.firstname.ToUpper() @complaint.mi.ToUpper() @complaint.lastname.ToUpper()</td>
                            <td>@complaint.nature_of_complaint</td>
                            <td>
                                @{ 
                                    var hospital = db.hospitals.Where(p => p.ID == complaint.hospitalID).FirstOrDefault();
                                }
                                @hospital.name <br />, <b>@hospital.address</b>
                            </td>
                            <td>@hospital.address</td>
                            <td>
                                @{ String ownership = "";}
                                @if(complaint.ownership == "1")
                                {
                                    ownership = "Government";
                                }
                                else
                                {
                                    ownership = "Private";
                                }
                                @ownership
                            </td>
                            <td>@complaint.staff</td>
                            <td><a><i class="material-icons">drag_handle</i></a></td>
                            <td>@complaint.date_informed_the_hf.Value.ToShortDateString()</td>
                            <td>@complaint.date_hf_submitted_reply.Value.ToShortDateString()</td>
                            <td>@complaint.date_release_to_records.Value.ToShortDateString()</td>
                            <td>@complaint.date_final_resolution.Value.ToShortDateString()</td>
                            <td>
                                @if (complaint.status == "R")
                                {
                                    <span style="padding:5px;border-radius:2px;" class="green white-text">Resolved</span>
                                }
                                else
                                {
                                    <span style="padding:5px;border-radius:2px;" class="red white-text">Resolved</span>
                                }
                               
                            </td>
                            <td>
                                <a href="@Url.Action("DeleteComplaint","Complaint")"><i class="material-icons">delete_forever</i></a>
                                <a href="@Url.Action("EditComplaint","Complaint")"><i class="material-icons">edit</i></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
</div>

<div class="fixed-action-btn">
    <a href="@Url.Action("Index","Complaint")" class="btn-floating btn-large red">
        <i class="large material-icons">add_circle</i>
    </a>
    <ul>
        <li><a class="btn-floating blue modal-trigger" href="#filter" onclick="filter(this);" data-url="@Url.Action("Filter","Complaint")"><i class="material-icons">search</i></a></li>
    </ul>
</div>
@section scripts {
    <script>
        function filter(el)
        {
            var url = $(el).data('url');
            $(".loading").show();
            $(".modal_content").html('');
            setTimeout(function () {
                $.get(url, function (res) {
                    $(".modal_content").html(res);
                    $(".loading").hide();
                });
            }, 1000);
        }
    </script>
}

