
@{
    ViewBag.Title = "Complaint Form";
    var tc = (new bhfsContext()).type_complaint.ToList();
}
<div class="container">
    <div class="row center">
        <h3>Complaint Form</h3>
    </div>
    <div class="card white darken-4">
        <form action="@Url.Action("SubmitForm","Complaint")" method="post">
            @Html.AntiForgeryToken()
            <div class="card-content">
                <div class="row">
                    <div class="col l12 m12 s12">
                        <div class="row">
                            <h4>Name of Complainant</h4>
                            <div class="input-field col l4 m12 s12 center">
                                <input type="text" class="validate" name="firstname" />
                                <label for="firstname">Firstname</label>
                            </div>
                            <div class="input-field col l4 m12 s12">
                                <input type="text" name="lastname" />
                                <label for="lastname">Lastname</label>
                            </div>
                            <div class="input-field col l4 m12 s12">
                                <input type="text" name="mi" />
                                <label for="mi">Middle Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col l3 m12 s12 center">
                                <input type="number" class="validate" name="age" />
                                <label for="age">Age</label>
                            </div>
                            <div class="input-field col l3 m12 s12">
                                <select name="civil_status">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="Single">Single</option>
                                    <option value="Married">Married</option>
                                    <option value="Separated">Separated</option>
                                    <option value="Divorced">Divorced</option>
                                    <option value="Widowed">Widowed</option>
                                </select>
                                <label for="civil_status">Civil Status</label>
                            </div>
                            <div class="input-field col l3 m12 s12">
                                <select name="gender">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                    <option value="O">Others</option>
                                </select>
                                <label for="gender">Gender</label>
                            </div>
                            <div class="input-field col l3 s12 m12">
                                <input type="text" name="date" class="datepicker">
                                <label for="date">Date</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col l12 s12 m12">
                                <textarea id="address" class="materialize-textarea" name="address"></textarea>
                                <label for="address">Address</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col l8 m12 s12">
                                <input type="text" name="name_facility_complained" />
                                <label for="name_facility_complained">Name of Facility being complained</label>
                            </div>
                            <div class="input-field col l4 m12 s12">
                                <select name="facility_type">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                                <label for="facility_type">Type of Health Facility</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col l12 s12 m12">
                                <textarea id="facility_address" class="materialize-textarea" name="facility_address"></textarea>
                                <label for="facility_address">Facility Address</label>
                            </div>
                        </div>
                        <div class="row">
                            <h4>Patient Information (if applicable:)</h4>
                            <div class="input-field col l3 m12 s12 center">
                                <input type="text" class="validate" name="p_firstname" />
                                <label for="p_firstname">Firstname</label>
                            </div>
                            <div class="input-field col l3 m12 s12">
                                <input type="text" name="p_lastname" />
                                <label for="p_lastname">Lastname</label>
                            </div>
                            <div class="input-field col l3 m12 s12">
                                <input type="text" name="p_mi" />
                                <label for="p_mi">Middle Name</label>
                            </div>
                            <div class="input-field col l3 m12 s12">
                                <input type="text" name="date_confined" class="datepicker" />
                                <label for="date_confined">Date patient confined(if applicable)</label>
                            </div>
                        </div>
                        <div class="row">
                            <h4>Complaint Information</h4>
                            <div class="col l12 m12 s12">
                                <h6>Type of complaint :</h6>
                                @foreach (type_complaint t in tc)
                                {
                                    <label for="@t.ID">
                                        <input type="checkbox" id="@t.ID" class="filled-in" name="complaint_type[]" value="@t.ID" />
                                        <span>@t.Description</span>
                                    </label>
                                }
                                <div class="input-field">
                                    <input type="text" name="other_complaint" />
                                    <label for="other_complaint">Others.</label>
                                </div>
                            </div>
                            <div class="input-field col l12 s12 m12">
                                <textarea id="nature_of_complaint" class="materialize-textarea" name="nature_of_complaint"></textarea>
                                <label for="nature_of_complaint">Nature of Complaint</label>
                            </div>
                            <div class="input-field col l12 s12 m12">
                                <textarea id="assistance_needed" class="materialize-textarea" name="assistance_needed"></textarea>
                                <label for="assistance_needed">Assistance Needed</label>
                            </div>
                        </div>
                        <div class="row">
                            <h4>Other Information</h4>
                            <div class="input-field col l6 s12 m12">
                                <select name="communication_form">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">By Photo</option>
                                    <option value="2">By Mail</option>
                                    <option value="3">Interview walk-in</option>
                                </select>
                                <label for="communication_form">Form of Communication received</label>
                            </div>
                            <div class="input-field col l6 s12 m12">
                                <select name="ownership">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Government</option>
                                    <option value="2">Private</option>
                                </select>
                                <label for="ownership">Hospital/Facility Ownership</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <input type="text" name="date_informed_the_hf" class="datepicker" />
                                <label for="date_informed_the_hf">Date Informed the HF/concerned office</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <input type="text" name="date_hf_submitted_reply" class="datepicker" />
                                <label for="date_hf_submitted_reply">Date HF/concerned office submitted reply</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <input type="text" name="date_release_to_records" class="datepicker" />
                                <label for="date_release_to_records">Date released to records section</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <input type="text" name="date_final_resolution" class="datepicker" />
                                <label for="date_final_resolution">Date Resolution of the complaint released to records/client</label>
                            </div>
                        </div>
                        <div class="row">
                            <p>By checking agree, you attest to the truth and veracity of the above-mentioned fact and statement. Any false statement and misrepresentation you made could be a ground for civil, criminal and administrative action under law by the injured party.</p>
                        </div>
                        
                        <div class="row">
                            <div class="col l12 m12 s12">
                                <button type="submit" name="submit" class="waves-effect waves-light btn-large green">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>       
</div>


