@using HFSRBO.Models
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/material/css")
    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }
      #complaint tr th{
          font-size : 0.7em;
      }
      #complaint tr td{
          font-size : 0.7em;
      }
      main {
        flex: 1 0 auto;
      }
    </style>
</head>
<body>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="@Url.Action("ComplaintsType","MasterData")">Complaint Types</a></li>
        <li><a href="@Url.Action("Staffs","MasterData")">Assigned Staffs</a></li>
        <li><a href="@Url.Action("Hospitals","MasterData")">Hospitals</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
        @if (User.Identity.IsAuthenticated)
        {
            <li><a href="#">@User.Identity.GetUserName()</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Action("Logoff","Account")">Logout</a></li>
        }
        else
        {
            <li><a href="@Url.Action("Login","Account")">Login</a></li>
        }
        
    </ul>
    <nav class="green" role="navigation">
        <div class="nav-wrapper container navbar-fixed white-text">
            <a style="padding:0;height:80px;" id="logo-container" href="@Url.Action("Index","Home")" class="brand-logo left white-text"><img src="@Url.Content("~/Images/health_facility_banner.png")" style="height:80px;" /></a>
            
            <ul class="right hide-on-med-and-down white-text">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Home","Complaint")" class="white-text"><i class="material-icons">home</i></a></li>
                    <li><a class="dropdown-trigger white-text" href="#" data-target="dropdown1"><i class="material-icons">menu</i></a></li>
                }
                
                <li><a class="dropdown-trigger white-text" href="#" data-target="dropdown2"><i class="material-icons">account_circle</i></a></li>
            </ul>
            
            
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <main>@RenderBody()</main>
    
    @Html.Partial("modals")
    <footer class="page-footer green">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h5 class="white-text">Address <i class="material-icons">location_on</i></h5>
                    <p class="grey-text text-lighten-4">Osmeña Blvd, Cebu City, Cebu, Philippines</p>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">PHONE NUMBER <i class="material-icons">local_phone</i></h5>
                    <ul>
                        <li><a class="white-text" href="#!">(032) 418-4822</a></li>

                    </ul>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">EMAIL <i class="material-icons">email</i></h5>
                    <ul>
                        <li><a class="white-text" href="#!">dohro7@gmail.com</a></li>

                    </ul>
                </div>
                
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © Copyright 2018.
                Information System - ICTU
            </div>
        </div>
    </footer>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/material/js")
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, options);

            var modal = document.querySelectorAll('.modal');
            var modal_instances = M.Modal.init(elems, options);

            var select = document.querySelectorAll('select');
            var select_instance = M.FormSelect.init(select, options);

            var float = document.querySelectorAll('.fixed-action-btn');
            var float_instances = M.FloatingActionButton.init(elems, options);

        });

        // Or with jQuery

        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'mm/dd/yyyy'
            });
            $('select').formSelect();
            $(".dropdown-trigger").dropdown();
            $('.fixed-action-btn').floatingActionButton();
            $('.modal').modal();
        });
    </script>
    @RenderSection("scripts", required: false)
    
</body>
</html>
